<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="com.ssn.ecp.quickoverviewruler.OpenHandler"
            description="Opens the Overview Ruler in a Quick View"
            id="com.ssn.ecp.quickoverviewruler.commands.open"
            name="Quick Overview Ruler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ssn.ecp.quickoverviewruler.commands.open"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
   </extension>

</plugin>
